:root {
	font-family: 'Montserrat', sans-serif;
}

/* Resets */
body {
	margin: 0;
}

h1, h2, p {
	margin: 0;
	font-weight: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Layouts */
.wrapper {
	background-color: #4c8afb;
	max-width: 960px;
	margin: 0 auto;
}

/* Commons */
.button {
	color: #87b1fc;
	border: 2px solid;
	padding: 7px 20px;
	border-radius: 10px;
}

/* Components */
body {
	background-color: #387dfb;
}

.header {
	color: #fff;
	font-size: 60px;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header span {
	color: #b9d1fd;
}

.contents {
	margin: 0 -10px;
}

.card {
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
}

.card-inside {
	background-color: #fff;
	padding: 40px;
	border-radius: 30px;
	box-shadow: 1px 1px 20px 5px rgba(81, 73, 73, 0.364);
}

.card-title {
	color: #87b1fc;
	font-size: 60px;
	font-weight: bold;
}

.card-description {
	color: #717171;
	margin: 10px 0 60px;
	line-height: 1.7;
}

.card.right {
	margin: -100px 0 -100px auto;
	text-align: right;
}

/* Mediaquries */
@media (max-width: 720px) {
	.card.card {
		width: 100%;
		margin: 40px 0;
		text-align: center;
	}
}